@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');


* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body { 
    background-color: rgb(255, 212, 138);
}

.container {
    height:100vh;
    margin: 0 auto;
    width: 75%;
}

.title-container {
    padding: 2rem 0;
} 

.title-container h1 {
    font-family: 'Amatic SC', cursive;
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    color: #333;
}

.description-container {
    padding: 0 1rem;
}

.description-container {
    font-family: 'Amatic SC', cursive;
    text-align: center;
    color: #333;
    font-size: 2rem;
    letter-spacing: 0.1;
    line-height: 1,8rem;
}

img {
    width: 150px;
    border-radius: 50%;
}
.tabel-container {
    margin: 3rem auto;
    width: 75%;
}

ul {
    list-style: none;
}

#td-method {
    padding-left: 3rem;
}

#td-method ul li:first-child {
margin-top: 1rem;
}

#td-method ul li {
margin-bottom: 2rem;
}

#td-method ul li {
   font-size: 1,2rem;
    }

#td-method ul li span {
     font-weight: bold;
     text-transform: uppercase;
         }
#td-ingredients {
    text-align: right;
}

#td-ingredients ul li:first-child{
    margin-top: 0,5rem;
}
#td-ingredients ul li{
    margin-bottom: 1rem;
}

.footer {
    padding-bottom: 3rem;
}

.footer ul {
    margin: 0 auto;
    text-align: center;
    width: 50%;
}

.footer ul li {
    display: inline-block;
 }


.footer ul li:first-child {
     margin-right: 5rem;
 }


.footer ul li:last-child {
    margin-left: 5rem;
}

 .footer ul li a {
     color: #333;
     font-size: 3rem;
 }
